*{
    margin: 0;
    padding: 0;
}
.button{
    background-color: grey;
    text-align: center;
    box-shadow: 1px 1px black;
    user-select: none;
    cursor: pointer;
}
.button:active{
    margin-left: 1px;
    margin-top: 1px;
    box-shadow: 0px 0px;   
}
#text{
    user-select: none;
    cursor: default;
    background-color: white;
    text-align: center;
}
